{% extends 'base.html' %}

{% block title %}
    client_all_products
{% endblock %}

{% block content %}
    <center>
        <h1>Все заказы и их товары клиента - '{{ client.name }}:</h1>
        <h1>
        {% for order in all_orders %}
            <table border='1'>
                <tr>
                    <th>number order</th>
                    <th>date order</th>
                    <th>summa order</th>
                    <th>list products</th>
                </tr>
                <tr>
                    <td>
                        {{ order.pk }}
                    </td>
                    <td>
                        {{ order.date_order }}
                    </td>
                    <td>
                        {{ order.summ_price_order }}
                    </td>

                    <td>
                        {% comment %} {% for i in order_products %}
                            {{ i.name_product }} {% endcomment %}
                            - product -
                        {% comment %} {% endfor %} {% endcomment %}
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}
        </h1>
    </center>
{% endblock %}